<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/element/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/pwd.css}"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.shared.js}"></script>
    <script th:src="@{/js/jquery.shared.html.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/element/index.js}"></script>
    <script th:src="@{/pageview/common/common.js}"></script>
    <script th:src="@{/pageview/common/component.js}"></script>
</head>

<body>
<div id="pwd" v-cloak="true">
    <!--头部-->
    <nav-top></nav-top>
    <!--导航-->
    <div class="nav-top-title"><div></div>修改密码</div>
    <!--内容-->
    <div class="pwd-content btn">
        <div class="pwd-item" style="padding-top: 5px;">
            <label>旧密码：</label>
            <el-input v-model="oldMm" style="width: 200px;" type="password" size="small" placeholder=""></el-input>
        </div>
        <div class="pwd-item">
            <label>新密码：</label>
            <el-input v-model="mm" style="width: 200px;" type="password" size="small" placeholder=""></el-input>
        </div>
        <div class="pwd-item">
            <label>确认新密码：</label>
            <el-input v-model="confirmMm" style="width: 200px;" type="password" size="small" placeholder=""></el-input>
        </div>
        <el-button type="primary" v-on:click="updatePwd" style="margin-left: 138px;">保存</el-button>
    </div>
</div>
</body>

<script th:src="@{/pageview/pwd/PwdViewPage.js}"></script>
</html>