<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>系统 - 权限 - 系统角色</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/element/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/common_search.css}"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.shared.js}"></script>
    <script th:src="@{/js/jquery.shared.html.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/element/index.js}"></script>
    <script th:src="@{/pageview/common/common.js}"></script>
    <script th:src="@{/pageview/common/component.js}"></script>
    <style type="text/css">#js{ width:100%; height:100%; }</style>
</head>

<body>
<div id="js" v-cloak="true">
    <!--头部-->
    <nav-top></nav-top>
    <!--内容-->
    <div class="home-content">
        <div class="btn">
			<label>角色名称：</label>
			<el-input v-model="mc" style="width: 150px;" size="small" placeholder=""></el-input>

            <el-button type="primary" v-on:click="getDataList(false)">查询</el-button>
			<el-button plain="" v-on:click="addJsBtn(false, false)">添加</el-button>

        </div>
        <div class="_table">
            <el-table :data="dataList" border="true" style="width: 100%">
                <el-table-column label="序号" width="55" align="center">
                    <template slot-scope="scope">
                        {{(page-1)*10+scope.$index+1}}
                    </template>
                </el-table-column>
				<el-table-column prop="mc" label="角色名称" align="center"></el-table-column>
				<el-table-column prop="ms" label="描述" align="center"></el-table-column>
               
                <el-table-column label="操作" width="180" align="center">
                    <template slot-scope="scope">
						<el-button v-on:click="addJsBtn(true, scope.row)" class="textGreen" type="text" size="small">编辑</el-button>
						<el-button v-on:click="deleteJs(scope.row)" type="text" size="small">删除</el-button>
              
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="block">
            <el-pagination
                    v-on:current-change="changePages"
                    :current-page="page"
                    :page-size="limit"
                    layout="total, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </div>
    </div>  
    <!--添加 编辑-->
    <el-dialog :title="title" :visible.sync="isAdd" width="400px" :close-on-click-modal="false" :close-on-press-escape="false">
        <div class="dialog-body" style="padding-top: 3px;">
				<div class="add-item" >
					<label>角色名称：<b style="color:red">*</b></label>
					<el-input v-model="params.mc" style="width: 250px;" size="small" placeholder=""></el-input>
				</div>
				<div class="add-item" >
					<label>描述：<b style="color:red">*</b></label>
					<el-input v-model="params.ms" style="width: 250px;" size="small" placeholder=""></el-input>
				</div>
          

        </div>
        <div slot="footer" class="dialog-footer btn btnBom">
            <el-button v-on:click="isAdd = false">取消</el-button>
            <el-button type="primary" v-on:click="addJs">保存</el-button>
        </div>
    </el-dialog>
</div>
</body>

<script th:src="@{/pageview/js/JsViewPage.js}"></script>
</html>