<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>主数据 - 企业 - 工单 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/element/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/common_search.css}"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.shared.js}"></script>
    <script th:src="@{/js/jquery.shared.html.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/element/index.js}"></script>
    <script th:src="@{/pageview/common/common.js}"></script>
    <script th:src="@{/pageview/common/component.js}"></script>
    <style type="text/css">#order{ width:100%; height:100%; }</style>
	<script type="text/javascript">
		// var socket;
		// if(!window.WebSocket){
		// 	window.WebSocket = window.MozWebSocket;
		// }
		// if(window.WebSocket){
		// 	socket = new WebSocket("ws://127.0.0.1:12345/ws");
		// 	socket.onmessage = function(event){
		// 		var ta = document.getElementById('responseText');
		// 		ta.value += event.data+"\r\n";
		// 	};
		// 	socket.onopen = function(event){
		// 		var ta = document.getElementById('responseText');
		// 		ta.value = "Netty-WebSocket服务器。。。。。。连接  \r\n";
		// 	};
		// 	socket.onclose = function(event){
		// 		var ta = document.getElementById('responseText');
		// 		ta.value = "Netty-WebSocket服务器。。。。。。关闭 \r\n";
		// 	};
		// }else{
		// 	alert("您的浏览器不支持WebSocket协议！");
		// }
		// function send(message){
		// 	if(!window.WebSocket){return;}
		// 	if(socket.readyState == WebSocket.OPEN){
		// 		socket.send(message);
		// 	}else{
		// 		alert("WebSocket 连接没有建立成功！");
		// 	}

		// }

	</script>
</head>

<body>
<div id="order" v-cloak="true">
    <!--头部-->
    <nav-top></nav-top>
    <!--内容-->
    <div class="home-content">
        <div class="btn">
			<label>工单编号(SH2003220001)：</label>
			<el-input v-model="order_no" style="width: 150px;" size="small" placeholder=""></el-input>
			<label>名称：</label>
			<el-input v-model="name" style="width: 150px;" size="small" placeholder=""></el-input>
			<label>客户id：</label>
			<el-input v-model="customer_id" style="width: 150px;" size="small" placeholder=""></el-input>

            <el-button type="primary" v-on:click="getDataList(false)">查询</el-button>
			<el-button plain="" v-on:click="addOrderBtn(false, false)">添加客户</el-button>

        </div>
		<form onSubmit="return false;">
            <div class="btn">
                <label>ID</label><el-input style="width: 150px;"  size="small"  v-model="user_id" ></el-input>
                <label>TEXT</label><el-input style="width: 150px;"   size="small" v-model="msg" placeholder="这里输入消息" ></el-input>
                <el-button type="button" value="发送ws消息" v-on:click="sendMsg()">发送</el-button>
                <el-button type="button" v-on:click="reConnect()">重新连接</el-button>
            </div>

			<hr color="black" />
			<h3>服务端返回的应答消息</h3>
			<textarea id="responseText" style="width: 1024px;height: 300px;"></textarea>
		</form>
    </div>  
    <!--添加 编辑-->

</div>
</body>

<script th:src="@{/pageview/order/OrderManageViewPage.js}"></script>
</html>