<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>售后服务管理平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/css/element/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/style/login.css}"/>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/jquery.shared.js}"></script>
    <script th:src="@{/js/jquery.shared.html.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/element/index.js}"></script>
</head>

<body>
<div id="login" v-cloak="true">
    <div style="position:absolute;left:50%;top:50%;margin-left:-165px;margin-top:-160px;">
        <div class="loginPage">
            <h2 style="text-align: center;display: none">栖霞区政务服务绩效考核平台</h2>
            <div class="login-title">用户登录</div>

            <el-select v-show="false" class="el_select" v-model="loginParams.pro_type" placeholder="请选择" v-on:change="onChange">
                <el-option
                        v-for="item in proOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>

            <input v-model="loginParams.username" type="text" placeholder="请输入用户名" />
            <input v-model="loginParams.password" type="password" placeholder="请输入密码" v-on:keyup.enter="loginBtn" />
            <el-button type="primary" class="login-btn" :loading="isLoading" v-on:click="loginBtn">登录</el-button>

        </div>
    </div>
</div>
</body>

<script th:src="@{/pageview/account/LoginViewPage.js}"></script>
</html>